@layer reset, base, tokens, recipes, utilities;

@import "../styled-system/styles.css";

body {
    background: #1b1a1a;
}

#root {
    max-width: 1350px;
    margin: 0 auto;
    background: #010101;
}